*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    position: absolute; 
    background-color: #2d452c;
} 

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(110, 147, 109);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

aside {

    width: 50%;
    position: fixed;
    top: 300px;
}

header .logo{
    font-weight: bolder;
    font-size: 100px;
    color: white;
}

header .logo img{
    width: 80px;
    
}

header .navbar ul{
    list-style: none;


}

header .navbar ul li{
    position: relative;
    float: left;
}



header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: rgb(250, 247, 247);
    display: block;
    background: rgb(110, 147, 109);;
}

header .navbar ul li a:hover{
    background: rgb(27, 59, 42);
    color:white;

}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffffff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
left: 200px;
top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;


}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}




@media(max-width:991px){

    header{
        padding: 20px;
    }

    header label{
        display: initial;
    
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;

    }

    header .navbar ul li ul li{
        background:#eee;

    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~ .navbar{
        display: initial;


    }
}

.footer{
    background-color:rgb(130, 167, 134);
    padding: 50px 0px;
    line-height: 1.5;

}

.footer-container{
    max-width: 100%;
    background-color: rgb(240, 240, 228);
    margin: auto;
    
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    list-style:none;
    text-decoration: underline;
}

.footer-col{
    width: 25%;
    padding: 0 20px;
}

.footer-col img{
    width:100px;
    
}

.footer-col span{
    background-color: #3b7039;
    padding-left: 5%;
    padding-right: 80%;
    padding-top: 5%;
    padding-bottom: 2%;
    
}

.footer-col h4{
    font-size: 18px;
    color:rgb(251, 250, 248);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(40, 84, 69);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:rgb(4, 202, 87);
    text-decoration: none;
    font-weight: 300;
    color:rgb(25, 31, 31);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color:rgb(82, 187, 21);
    padding-left: 8px;
}

/*responsiveness*/

@media(max-width:767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width:574px){
    .footer-col {
        width: 100%;
}
}

.explore-btn{
    display: inline-block;
    padding: 1em 2.5em;
    background: rgb(99, 82, 49);
    color: white;
    font-weight: 400;
    text-decoration: none;

}


.explore-btn:hover{
    background: white;
    color:#1f503c;
}

h1 {
    font-size: 3rem;
    color: rgb(0, 7, 0);
    letter-spacing: 10px;
    outline: 3 px solid white;
    outline-offset: .25em;
    display: inline-block;
    margin: 0.25em 0 0.5em;
}

span{
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2rem;
    color: rgb(232, 214, 16);
    letter-spacing: 10px;
    display: inline-block;
    margin: 0.25em 0 0.5em;
}



.adult-explore{
    background-color: rgb(130, 167, 134);
    background-size: cover;
    padding: 10vh 0;
    color: rgb(239, 245, 242);
    display: flex;
    justify-content: flex-end;
}


.small-container{
    display: flex;
    flex-basis: 50%;
    position: relative;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-top: 1rem;
}

.small-container img{
    width: 50%;

}

.res-txt{
    flex-basis: 50%;
    padding: 4em;
    background-color: rgb(130, 167, 134);
    }

.teach-txt{
    flex-basis: 50%;
    padding: 4em;
}


/*explore-section*/
.explore{
    padding-top: 8vh;
    padding-left: 3dvh;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    }

.explore img{
        width: 50%;
        padding-top: 4dvh;
}


.exp-box{
    display: flex;
    flex-basis: 40%;
    padding-top: 1vh;
    background-color: rgb(130, 167, 134);
}

/*mids-section*/
.kids{
    padding-top: 0;
    color: rgb(249, 251, 250);
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.kids img{
    padding-top: 5dvh;
    width: 25%;

}


.kids-box{
    display: flex;
    flex-basis: 60%;
    background-color: rgb(130, 167, 134);
    color: #eee;
}
    
.cta-txt{
    flex-basis: 100%;
    padding: 4em;
}

.article-txt{
    flex-basis: 100%;
    padding: 5em;
    font-size: large;
}
